<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add a friend to connect</title>
</head>
<body>
<form method="post" th:action="@{/user/contact}">
<!--    <label for="email">Mail</label>-->
    <input type="text" id="email" name="email"  placeholder="Email to add" required>

<button type="submit" class="text-light bg-primary rounded px-4">add connection</button>
</form>
    <div th:if="${alreadyInFriendList}" class="alert alert-danger">
        <p th:text="${alreadyInFriendList}">Error Message</p>
    </div>
<div th:if="${userDoesNotExist}">
    <div th:text="${userDoesNotExist}"></div>
</div>
</body>
</html>